.App {
  text-align: center;
  background-color:rgba(0,0,0,0.8);
  height: 100vh;
  padding: 10PX;
}

#editor {
 font-size: 20PX;
 padding: 10PX;
 border-radius: 6PX;
 width: 50vw;
 box-shadow: 0 3PX 6PX black;
}

#preview{
 font-size: 12PX;
 padding: 10PX;
 border-radius: 6PX;
 width: 50vw;
 box-shadow: 0 3PX 6PX black;
 background:white;
 height: 200PX;
 overflow: auto;
 margin: 10PX auto;
}
#preview code{
background-color: black;
color: white;
padding: 10PX;
}
#preview pre{
  background-color: black;
  color: white;
  padding: 10PX;
  }

h1{
  color: white;
  font-size: 20PX;
}